# Byte-compiled / optimized / DLL files
__pycache__/

# Testing files
requests.py
test.html
index.html
/messages.html
/messages.json
output/
style.css

build/
dist/

interface.spec

ibackup.py

analyst.html
_analyst.py
config.json

prototype.md

logger.py
release/
release v2/